<%= form_for(@wallet) do |f| %>
  <% if @wallet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wallet.errors.count, "error") %> prohibited this wallet from being saved:</h2>

      <ul>
      <% @wallet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.label 'Api-Key' %>
      <%= f.text_field :key, class:'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :secret %>
      <%= f.text_field :secret, class:'form-control' %>
      </div>
    </div>


  <div class="actions">
    <%= f.submit 'Add Wallet', class:'btn btn-block btn-success' %>
  </div>
<% end %>


