<div class = "contain">
<p id="notice"><%= notice %></p>

<h1>Listing Wallets</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Secret</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.wallets.each do |wallet| %>
      <tr>
        <td><%= wallet.key %></td>
        <td><%= wallet.secret %></td>
        <td><%= link_to 'Show', wallet_path(wallet) %></td>
        <td><%= link_to 'Edit', edit_wallet_path(wallet) %></td>
        <td><%= link_to 'Destroy', wallet_path(wallet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallet', new_wallet_path %>
</div>