<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @wallet.key %>
</p>

<p>
  <strong>Secret:</strong>
  <%= @wallet.secret %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
