<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @wallet.url %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @wallet.filename %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallet_path %>