<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= @title || "Tombstone by Wyncode" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div id="page-wrapper">
      <header class="header-10">
        <%= render 'layouts/navigation' %>
      </header>
        <% if notice %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <div class="text-center">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= notice %>
          </div>
        </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <div class="text-center">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
          </div>
        </div>
    <% end %>
        
      <%= yield %>
        
      <% render 'layouts/footer' %>
    
    </div>
  </body>
</html>


<!-- <div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">
    <%= render 'layouts/messages' %>
  </div>  
</div>   -->